#ground {
    height: 700px;
    width: 765px;
}
#ground > div {
    border: solid black 2px;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    margin: 25px;
}
.ball {
    background-color: #fbff00;
    width: 75px;
    height: 75px;
    margin: 62.5px;
    border-radius: 50px;
}
#r1, #r4, #r7, #r2, #r5, #r8 {
    float: left;
}
#r3, #r6, #r9 {
    float: right;
}
