<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info"><h1>Добавьте сотрудника или руководителя отдела</h1></div>
    <label>Имя</label>
    <input type="text" class="form-control" #workerNameInput (input)="onTextChange()">
    <label>Отдел</label>
    <input type="text" class="form-control" #workerRoleInput (input)="onTextChange()">
    <br>
    <button [disabled]="!btnEnabled" class="btn btn-primary btn-lg" (click) = "onAddWorker(workerNameInput)">Добавить сотрудника</button>
    <button [disabled]="!btnEnabled" class="btn btn-primary btn-lg" (click) = "onAddHeadWorker(workerNameInput)">Добавить руководителя</button>
  </div>
</div>
